<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Messages : View all</title>
</head>
<body>
<h1 layout:fragment="header">Messages : View all</h1>

<div layout:fragment="content" class="container">

    <div class="padded">
        <div class="row">
            <div class="three fifths bounceInRight animated">
                <h1 class="zero museo-slab">Messages from users</h1>

                <p class="quicksand">Please take some time to login and post a message</p>
            </div>
            <div class="two fifths align-right-ipad align-right-desktop flipInX animated">

                <p>
                    <a href="home.html" rel="prev" class="blue button">Back</a>
                    <a href="layout-b.html" rel="next" class="green button">Next: Image Gallery </a>
                </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="one centered mobile third">

            <a role="button" class="asphalt gap-bottom gap-right" th:href="@{/(form)}">
                <i class="icon-github-sign icon-2x"></i> Login with github
            </a>
            <a role="button" class="red gap-bottom gap-right" th:href="@{/(form)}">
                <i class="icon-google-plus icon-2x"></i> Login with google
            </a>

        </div>
    </div>

</div>
</body>
</html>